@if (Model.Productos != null && Model.Productos.Count > 0)
{
    var proveedor = Model.Productos[0].IdProveedorNavigation;

    <h4>Proveedor: @proveedor.DescripcionProveedor</h4>
    <hr />

    @foreach (var producto in Model.Productos)
    {
        <div>
            <h4>Producto</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    Código
                </dt>
                <dd class="col-sm-10">
                    @producto.Codigo
                </dd>
                <dt class="col-sm-2">
                    Descripción
                </dt>
                <dd class="col-sm-10">
                    @producto.DescripcionProducto
                </dd>
                <dt class="col-sm-2">
                    Precio
                </dt>
                <dd class="col-sm-10">
                    Q @producto.Precio
                </dd>
                <dt class="col-sm-2">
                    Unidades
                </dt>
                <dd class="col-sm-10">
                    @producto.Precio
                </dd>
                <dt class="col-sm-2">
                    IVA
                </dt>
                <dd class="col-sm-10">
                    @producto.Iva %
                </dd>
                <dt class="col-sm-2">
                    Peso
                </dt>
                <dd class="col-sm-10">
                    @producto.DescripcionProducto lbs
                </dd>
            </dl>
        </div>
    }
}
else
{
    <p>No hay productos asociados a este proveedor.</p>
}